/* USE 16PX GRID INSTEAD OF 24 */
[data-theme="paper"] {
  color-scheme: light;
  padding: 3.2rem;
}

[data-theme="paper"] #main-nav {
  align-items: baseline;
  display: flex;
}

[data-theme="paper"] #app-header nav a {
  text-decoration-style: solid;
}

[data-theme="paper"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-theme="paper"] #main {
  margin-top: 3em;
}

[data-theme="paper"] #home {
  display: grid;
  gap: 4rem;
  grid-auto-columns: 1fr;
}

[data-theme="paper"] #home aside {
  grid-area: 2/1/3/2;
}

[data-theme="paper"] #home aside section + section {
  margin: 1.5em 0 0;
}

[data-theme="paper"] #skills p + p {
  margin: 1.5em 0 0;
}

[data-theme="paper"] #skills dd {
  margin: 0;
}

[data-theme="paper"] #education h3 {
  margin: 0;
}

[data-theme="paper"] #education p {
  margin: 0;
}

[data-theme="paper"] #education .college-url a {
  align-items: baseline;
  display: inline-flex;
  flex-flow: row nowrap;
  gap: 0.4em;
}

[data-theme="paper"] #keywords ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

[data-theme="paper"] #keywords li {
  margin: 0;
}

[data-theme="paper"] #skills-filter {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
  list-style: none;
  margin: 1.5em 0;
  padding: 0;
}

[data-theme="paper"] #experience-list {
  display: grid;
  grid-template-rows: 1fr min-content;
}

[data-theme="paper"] #experience-list hr {
  display: none;
}

[data-theme="paper"] .experience-list-item {
  margin-bottom: 1.5em;
}

[data-theme="paper"] .experience-summary {
  margin: 0;
}

[data-theme="paper"] .experience-contributions {
  list-style-position: inside;
  list-style-type: square;
  padding: 0;
}

[data-theme="paper"] .experience-contributions li {
  margin: 0;
}

[data-theme="paper"] .experience-skills-list {
  align-items: baseline;
  display: flex;
  gap: 1.5em;
  justify-content: flex-start;
  margin: 1.5em 0 0;
}

[data-theme="paper"] #all-experience {
  justify-self: flex-end;
}

[data-theme="paper"] #contact {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr;
}

[data-theme="paper"] #contact-socials {
  align-items: baseline;
  display: flex;
  gap: 1.5em;
  margin-top: 1.5em;
}

[data-theme="paper"] #contact-socials li {
  margin: 0;
}

[data-theme="paper"] #contact-socials a {
  display: block;
  height: 1.5em;
  width: 1.5em;
}

[data-theme="paper"] #error {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

@media screen {
  [data-theme="paper"] a {
    color: #ffa000;
    text-decoration: underline;
  }

  [data-theme="paper"] a:hover {
    cursor: pointer;
  }

  [data-theme="paper"] #app-header nav a {
    color: #8c5800;

    &.active {
      color: #ffa000;
    }
  }

  [data-theme="paper"] #intro h2 {
    background: linear-gradient(
      45deg,
      #d81b60,
      #ffa000,
      #ab47bc,
      #d81b60,
      #ab47bc
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  [data-theme="paper"] #education .college-url a svg {
    font-size: 0.8em;
  }

  [data-theme="paper"] #contact-socials svg {
    font-size: 1.5em;
    height: inherit;
    line-height: 1em;
    width: inherit;
  }
  [data-theme="paper"] .experience-skills-list-full {
    display: none;
  }
  [data-theme="paper"] #intro p {
    margin-top: -3em;
  }

  @media (prefers-reduced-motion: no-preference) {
    [data-theme="paper"] a.animateable:hover {
      -webkit-text-fill-color: transparent;
      animation-name: text-animation;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-fill-mode: forwards;
      background: linear-gradient(to right, #ffa000, #ffe082, #ffa000);
      background-clip: text;
      background-size: 300% auto;
      /* color: transparent; */
    }
    [data-theme="paper"] #intro h2:hover {
      -webkit-text-fill-color: transparent;
      animation-duration: 5s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: text-animation;
      animation-timing-function: linear;
      background: linear-gradient(
        45deg,
        #d81b60,
        #ffa000,
        #ab47bc,
        #d81b60,
        #ab47bc
      );
      background-clip: text;
      background-size: 300% auto;
      cursor: pointer;
    }

    @keyframes text-animation {
      to {
        background-position: 300% center;
      }
    }
  }
}

@media print {
  [data-theme="paper"] #theme-switcher,
  [data-theme="paper"] #main-nav,
  [data-theme="paper"] #all-experience,
  [data-theme="paper"] #skills-filter,
  [data-theme="paper"] #education .college-url a svg {
    display: none;
  }
  [data-theme="paper"] .experience-skills-list {
    flex-wrap: wrap;
  }
  [data-theme="paper"] .experience-skills-list-abbreviation {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  [data-theme="paper"] #home {
    display: grid;
    gap: 4rem;
    grid-auto-columns: 1fr 1fr;
  }

  [data-theme="paper"] #intro {
    grid-column: 1 / 3;
  }
  [data-theme="paper"] #intro p {
    margin-top: -3.25em;
  }
  [data-theme="paper"] #home aside {
    grid-area: 2 / 1 / 3 / 2;
  }

  [data-theme="paper"] #experience .experience-contributions,
  [data-theme="paper"] #experience .experience-summary,
  [data-theme="paper"] #experience .experience-skills-list {
    max-width: 50%;
  }

  [data-theme="paper"] #contact {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }

  [data-theme="paper"] #contact header {
    grid-column: 1 / 3;
  }
}
