[data-theme="two"] {
  color-scheme: light;
}

[data-theme="two"] #home {
  display: grid;
  grid-auto-columns: 1fr 1fr;
}

[data-theme="two"] #home header {
  grid-column: 1 / 3;
}

[data-theme="two"] #home aside {
  grid-area: 2 / 1 / 3 / 2;
}

[data-theme="two"] #home div {
  grid-column: 2 / 3;
}
